body {
  display: flex;
  justify-content: center;
  background-image: url(images/pexels-jeshootscom-576832.jpg);
  background-size: 101%;
  background-repeat: no-repeat;
  text-align: center;
  background-color: rgb(15, 118, 144);
  color: rgb(4, 44, 89);
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 0.927);
  width: fit-content;
  padding: 40px;
  margin: 40px;
  border-radius: 1vw;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

h1 {
  text-transform: uppercase;
  color: rgb(4, 44, 89);
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 48px;
}

em {
  color: rgb(4, 44, 89);
}

form {
  font-size: 16px;
  font-family: 'Franklin Gothic light'
}

input, select {
  font-size: 14px;
}

div.leftcolumn {
  float: left;
  clear: left;
  text-align: right;
  width: 50%;
  margin-bottom: 10px;
}

div.leftblock {
  float: right;
  margin-right: 10px;
  margin-left:100%
}

div.leftblock label {
  float: left
}

div.rightcolumn {
  float: right;
  clear: right;
  text-align: left;
  width: 50%;
  margin-bottom: 10px
}

div.rightblock {
  float: left;
  margin-left: 10px;
  margin-right:100%
}

div.bottomblock {
  clear: both;
  margin-bottom: 25px;
}

